<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cc244313-1e8e-49ab-9132-0f11a9bba4ba&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Client</title>
</head>

<body>

<div class="container w-75 mt-4">
    <div class="container col-md-5 shadow p-3" style="border-radius: 0.8rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-7">
                    <h5 class="text-center">Закажи такси прямо сейчас!</h5>
                </div>
                <div class="col-md-3">
                    <a type="button" href="/driver" class="btn btn-outline-dark">Водитель</a>
                </div>
            </div>
            <div class="container  shadow p-3 bg-danger mt-4 d-flex center"
                 style="height:350px; width:350px; border-radius:0.8rem;">
                <div id="map" style="width: 600px; height: 300px"></div>
            </div>
            <input type="text" id="placeStart" placeholder="Точка отправления"
                   class="btn btn-light border border-1 border-dark w-100 mt-4">
            <input type="text" id="placeFinish" placeholder="Точка прибытия"
                   class="btn btn-light border border-1 border-dark w-100 mt-4">
            <div class="col-xs-1" align="center">
                <button type="button" onclick="createOrder();" class="btn color-light btn-danger mt-4">Вызвать такси</button>
            </div>

        </div>
    </div>
</body>
<script>
  var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
var crd;
function init(){
var myMap = new ymaps.Map("map", {
    center: [crd.latitude, crd.longitude],
    zoom: 19
});
};
function success(pos) {
crd = pos.coords;
ymaps.ready(init);
};
function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
};
navigator.geolocation.getCurrentPosition(success, error, options);
function createOrder(){
console.log("qopwfq");
const order= {
    placeStart: document.getElementById("placeStart").value,
    placeFinish: document.getElementById("placeFinish").value
};
const data = JSON.stringify(order);
$.ajax({
  type: "POST",
  url: "/api/orders",
  data: JSON.stringify(order),
  contentType: "application/json",
  success: function (result) {
    alert("Ваш заказ размещен");
  },
  error: function (result, status) {
    console.log(result);
  }
});

};






</script>
</html>